section {
	padding-top: 5%;
}

body {
	background-image: url(img/Home_pageBg.png);
	background-repeat: no-repeat; 
	background-size: cover;
}

/*tablet-slide*/
.tx {
	margin-top: 25px;
}

#myCarousel1 .carousel-control.right, #myCarousel1 .carousel-control.left {
	width: 30px;
	height: 30px;
	margin: 130px 50px 0px 65px;
	background-image: none;
}

.tx h1 {
	margin-bottom: 0px;
	font-family: 'ChunkFive Roman', arial;
	font-size: 45px;
	color: #e7e8ea;
}

.tx h3 {
	margin-top: 0px;
	font-family: 'Contra', arial;
	font-size: 39px;
	color: #d7d7e3;
}

.tx p {
	line-height: 1;
	font-family: 'Colaborate-Thin', arial;
	font-size: 23px;
	color: #e7e8ea;
}

#readmore-btn {
	margin-top: 24px;
	background-image: url(img/Button.png);
	border: none;
	color: #e7e8ea;
	font-family: 'Colaborate-Medium', arial;
	font-size: 23px;
	width: 181px;
	height: 45px;
	border-radius: 5px;
}

.shadow {
	margin-top: 23px;
	margin-left: 274px;
	text-align: right;
}

/* END of tablet-slide SECTION*/

/* FEATURES*/
#features {
	padding-top: 0px;
}

#rofw {
	padding-left: 8%;
}

#features .col-md-3 {
	display: inline-block;
	width: 255px;
	padding: 0px;
}

#features .test {
	width: 239px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(138,138,138,0.65);
} 

/*END of FEATURES SECTION*/


/*bottom-features*/

#bottom-features {
	padding-top: 60px;
}

.glif {
	float: left;
	border-radius: 3px;
}

#bottom-features h4 {
	opacity: 0.8;
	margin: -4px 0px 0px 40px;
	text-align: justify;
	font-family: 'Colaborate-Light', arial;
	font-size: 25px;
}

#bottom-features p {
	opacity: 0.8;
	margin-left: 2px;
	margin-top: -10px;
	text-align: justify;
	font-family: 'Colaborate-Light', arial;
	font-size: 14px;
}

#bottom-features a p {
	margin: -5px 0px 0px 41px;
	font-size: 15px;
	color: #5f7390;
}

#rowb {
	margin: 0 auto;
	max-width: 1015px;
}

#rowb .col-md-4 {
	margin-left: 25px;
	width: 310px;
}
/*END of bottom-features SECTION*/

/*text-slide*/
.text-slide {
	padding-top: 50px;;
}

#myCarousel2 .carousel-control.right, #myCarousel2 .carousel-control.left {
	width: 30px;
	height: 30px;
	background-image: none;
	margin: 10px 240px 0px 235px;
}

#myCarousel2 h4 {
	opacity: 0.9;
	font-family: 'Contra', arial;
	font-size: 16px;
	margin: 0 auto;
	max-width: 550px;
	line-height: 1.7;
}
/*END of text-slide SECTION*/

/*about*/
#about {
	padding-top: 30px;
}

.text {
	line-height: 1;
	margin: 0 auto;
	max-width: 418px;
}

.text h1{
	margin-bottom: 0px;
	font-family: 'Colaborate-Light', arial;
	font-size: 27px;
}

.text a{
	padding-left: 4px;
	color: #5f7390;
	font-family: 'Colaborate-Light', arial;
	font-size: 15px;
}

.tab4 {
	margin-left: 110px;
}

#fist-ul {
	opacity: 0.8;
	padding-left: 50px;
	line-height: 2;
	list-style-type: none;
	margin-top: 40px;
	font-family: 'Colaborate-Light', arial;
	font-size: 15px;
}

#fist-ul .fa {
	font-size: 12px;
	border-radius: 100%;
	border: 1px solid grey;
	padding: 0px 4px 0px 5px;
	margin-right: 10px;
	background-color: #e3e2e2;
}

#ReadMore-btn {
	margin-top: 15px;
	margin-left: 78px;
	margin-right: 20px;
	background-image: url(img/ReadMe2.png);
	border: none;
	color: #e7e8ea;
	font-family: 'Colaborate-Medium', arial;
	font-size: 19px;
	width: 130px;
	height: 34px;
	border-radius: 6px;
}

#Download-btn {
	background-image: url(img/ReadMe2.png);
	border: none;
	color: #e7e8ea;
	font-family: 'Colaborate-Medium', arial;
	font-size: 19px;
	width: 130px;
	height: 34px;
	border-radius: 6px;
}

#second-ul {
	padding-top: 30px;
	opacity: 0.8;
	margin: 0 auto;
	max-width: 1025px;
	list-style-type: none;
	font-family: 'Colaborate-Light', arial;
	font-size: 15px;
}

#second-ul .fa {
	margin-right: 10px;
	font-size: 15px;
}

hr {
	border: none; 
    color: #d7d8da; 
    background-color: #d7d8da; 
    height: 1px; 
	margin: 10px 180px 10px 0px;
}
/*END of about SECTION*/

/*FOOTER*/
.footer {
	margin-top: 25px;
	background-image: url(img/footer.png);
	background-repeat: no-repeat; 
	background-size: cover;
}

#copyright {
	margin-top: 20px;
}

#copyright .twitter{
	margin-left: 100px;
	border-radius: 50%;
	float: left;
}

#text h3{
	text-align: justify;
	line-height: 2;
	margin: 0 auto;
	width: 750px;
	color: white;
	font-family: 'Contra', arial;
	font-size: 13px;
}

#version {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 140px;
	text-align: right;
	color: white;
	font-family: 'Contra', arial;
	font-size: 15px;
}

.a {
	width: 400px;
	margin-left: 100px;
	text-align: left;
}

.foot  h2{
	color: white;
	font-family: 'Colaborate-Light', arial;
	font-size: 25px;
}

.a  p{
	color: white;
	font-family: 'Colaborate-Light', arial;
	font-size: 14px;
}

#icons {
	padding: 10px 0px 0px 0px;
}

#icons .i {
	color: #464659;
	margin-right: 20px;
}

#icons .i:hover {
	color: white;
	margin-right: 20px;
}

input[type=email]{
	padding-left: 10px;
	margin-bottom: 2px;
	border: none;
	border-radius: 6px;
	height: 27px;
	width: 213px;
}

input[type=text]{
	padding-left: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 6px;
	height: 27px;
	width: 213px;
}

#Submit {
	margin-left: 10px;
	width: 85px;
	height: 27px;
	font-family: 'Colaborate-Light', arial;
	font-size: 14px;
	border: none;
	border-radius: 6px;
}

#Subscribe {
	float: right;
	margin-right: 15px;
	margin-top: 20px;
	width: 85px;
	height: 27px;
	font-family: 'Colaborate-Light', arial;
	font-size: 14px;
	border: none;
	border-radius: 6px;
}

.b {
	width: 500px;
	margin-left: 100px;
	text-align: left;
}

.b  .col-md-6, .col-md-12{
	padding-left: 0px;
}

#comment {
	border: none;
	border-radius: 6px;
	height: 100px;
}


/*END of FOOTER SECTION*/

/*NAVBAR*/
.navbar-header .logo{
	margin-top: -25px;
    margin-bottom: 10px;
	max-width: 100%;
    height: auto;
}

.navbar {
	background-color: #18171D;
	padding: 0% 5% 0% 5%;
}

.navbar li a {
	font-size: 16px;
	padding: 8px 0px;
	margin: 8px 15px;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
	border-bottom: 2px solid #0080FF;
    background-color: #18171D !important;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
/*END of NAVBAR SECTION*/